In [1]:
import datetime
import pandas as pd

from polygon import RESTClient

def ts_to_datetime(ts) -> str:
    return datetime.datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d %H:%M')
df = ""

def main(ticker, start, end):
    key = "HKFMTkoe_pdlWcUvJ1nknZP2kINotqSG"

    with RESTClient(key) as client:
        from_ = start
        to = end
        resp = client.stocks_equities_aggregates(str(ticker).upper(), 1, "minute", from_, to, unadjusted=False)
        print(f"Minute aggregates for {resp.ticker} between {from_} and {to}.")
        global df
        df = pd.DataFrame(resp.results)
        # change column names
        df.columns = ['close','high','low','no_of_transactions','open','timestamp', 'volume', 'volumeWeightedAvgPrice']
        # change timestamp to readable date format
        df['datetime'] = df['timestamp'].apply(lambda x: ts_to_datetime(x))
   
        # set time as index
        df = df.set_index(df['datetime'])

if __name__ == '__main__':
    main("sndl", "2021-01-01", "2021-02-01")

Minute aggregates for SNDL between 2021-01-01 and 2021-02-01.

In [2]:
stock_exchanges =

SyntaxError: invalid syntax (<ipython-input-2-fa6ed8f32aab>, line 1)

In [ ]:
df.head()

### TICKER End point

In [ ]:
ticker_df = pd.DataFrame(

      [{
       "ticker": "AAPL",
       "name": "APPLE COMPUTER INC",
       "market": "stocks",
       "locale": "us",
       "primary_exchange": "XNAS",
       "type": "CS",
       "active": True,
       "currency_name": "usd",
       "cik": "0000320193",
       "composite_figi": "BBG000B9XRY4",
       "share_class_figi": "BBG001S5N8V8",
       "last_updated_utc": "2019-01-25T00:00:00.000Z"
      }]
)

In [ ]:
list(ticker_df.columns)

### TICKER DETAILS end point

In [3]:
ticker_details_df = pd.DataFrame([{
 "logo": "https://s3.polygon.io/logos/aapl/logo.png",
 "listdate": "1990-01-02T00:00:00.000Z",
 "cik": 320193,
 "bloomberg": "EQ0010169500001000",
 "figi": "N/A",
 "lei": "HWUPKR0MPOU8FGXBT394",
 "sic": 3571,
 "country": "usa",
 "industry": "Computer Hardware",
 "sector": "Technology",
 "marketcap": 908316631180,
 "employees": 123000,
 "phone": "+1 408 996-1010",
 "ceo": "Timothy D. Cook",
 "url": "http://www.apple.com",
 "description": "Apple Inc is designs, manufactures and markets mobile communication and media devices and personal computers, and sells a variety of related software, services, accessories, networking solutions and third-party digital content and applications.",
 "exchange": "Nasdaq Global Select",
 "name": "Apple Inc.",
 "symbol": "AAPL",
 "exchangeSymbol": "NGS",
 "hq_address": "1 Infinite Loop Cupertino CA, 95014",
 "hq_state": "CA",
 "hq_country": "USA",
 "type": "CS",
 "updated": "11/16/2018",
 "tags":' [Technology,Consumer Electronics","Computer Hardware]',
 "similar": '[MSFT","NOK","IBM","HPQ","GOOGL","BB","XLK]',
 "active": True
}])

In [4]:
ticker_details_df.head(1)

,active,bloomberg,ceo,cik,country,description,employees,exchange,exchangeSymbol,figi,...,name,phone,sector,sic,similar,symbol,tags,type,updated,url
0,True,EQ0010169500001000,Timothy D. Cook,320193,usa,"Apple Inc is designs, manufactures and markets...",123000,Nasdaq Global Select,NGS,N/A,...,Apple Inc.,+1 408 996-1010,Technology,3571,"[MSFT"",""NOK"",""IBM"",""HPQ"",""GOOGL"",""BB"",""XLK]",AAPL,"[Technology,Consumer Electronics"",""Computer H...",CS,11/16/2018,http://www.apple.com

In [5]:
list(ticker_details_df.columns)

['active',
 'bloomberg',
 'ceo',
 'cik',
 'country',
 'description',
 'employees',
 'exchange',
 'exchangeSymbol',
 'figi',
 'hq_address',
 'hq_country',
 'hq_state',
 'industry',
 'lei',
 'listdate',
 'logo',
 'marketcap',
 'name',
 'phone',
 'sector',
 'sic',
 'similar',
 'symbol',
 'tags',
 'type',
 'updated',
 'url']

### QUOTES end point

In [6]:
quotes_df = pd.DataFrame([
  {
   "t": 1517562000065700400,
   "y": 1517562000065321200,
   "q": 2060,
   "c": "[1]",
   "z": 3,
   "p": 102.7,
   "s": 60,
   "x": 11,
   "P": 0,
   "S": 0,
   "X": 0
  },
  {
   "t": 1517562000065791500,
   "y": 1517562000065408300,
   "q": 2061,
   "c": "[1]",
   "z": 3,
   "p": 170,
   "s": 2,
   "x": 11,
   "P": 0,
   "S": 0,
   "X": 0
  }
 ])

quotes_map =  {
  "t":"sip_timestamp"
  ,
  "y": "participant_timestamp",
  "i":  "indicators"
  ,
  "P":"ask_price"
  ,
  "X":  "ask_exchange"
  ,
  "f": "trf_timestamp"
  ,
  "q": "sequence_number"
  ,
  "c":"conditions"
  ,
  "p": "bid_price"
  ,
  "s": "bid_size"
  ,
  "x":"bid_exchange"
  ,
  "S":"ask_size"
  ,
  "z":"tape"
  
 }

In [7]:
# DOEWN LOAD THE LIST OF EXCHANGES
key = "HKFMTkoe_pdlWcUvJ1nknZP2kINotqSG"

# GET LIST OF ALL EXCHANGES

with RESTClient(key) as client:
    respex = client.stocks_equities_exchanges()
    
stock_exchanges = respex.exchange
exchange_list_dict = {}

for i in stock_exchanges:
    the_dict = {}
    the_dict[i.i_d_of_the_exchange] = i.name
    #exchange_list_dict.append(the_dict)
    exchange_list_dict[i.i_d_of_the_exchange] = i.name

In [8]:
new_quotes_df = pd.DataFrame(quotes_df).rename(columns=quotes_map)

In [9]:
new_quotes_df

,ask_price,ask_size,ask_exchange,conditions,bid_price,sequence_number,bid_size,sip_timestamp,bid_exchange,participant_timestamp,tape
0,0,0,0,[1],102.7,2060,60,1517562000065700400,11,1517562000065321200,3
1,0,0,0,[1],170.0,2061,2,1517562000065791500,11,1517562000065408300,3

##### REPLACE THE NUMBERS WITH THE NAMES OF THE EXCHANGES

In [10]:
new_quotes_df.replace({"bid_exchange": exchange_list_dict, "ask_exchange": exchange_list_dict}).head()

,ask_price,ask_size,ask_exchange,conditions,bid_price,sequence_number,bid_size,sip_timestamp,bid_exchange,participant_timestamp,tape
0,0,0,Multiple,[1],102.7,2060,60,1517562000065700400,NYSE Arca,1517562000065321200,3
1,0,0,Multiple,[1],170.0,2061,2,1517562000065791500,NYSE Arca,1517562000065408300,3

In [11]:
exchange_list_dict

{0: 'Multiple',
 1: 'NYSE American (AMEX)',
 2: 'NASDAQ OMX BX',
 3: 'National Stock Exchange',
 4: 'FINRA',
 5: 'Consolidated Quote System',
 6: 'International Securities Exchange',
 7: 'Cboe EDGA',
 8: 'Cboe EDGX',
 9: 'Chicago Stock Exchange, Inc',
 10: 'New York Stock Exchange',
 11: 'NYSE Arca',
 12: 'Nasdaq',
 13: 'Consolidated Tape System',
 14: 'OTC Bulletin Board',
 141: 'OTC Bulletin Board',
 142: 'OTC Bulletin Board',
 143: 'OTC Bulletin Board',
 144: 'OTC Bulletin Board',
 145: 'OTC Bulletin Board',
 15: 'IEX',
 16: 'Chicago Board Options Exchange',
 17: 'Nasdaq PSX',
 18: 'Cboe BYX',
 19: 'Cboe BZX',
 33: 'NASDAQ BX Options/ETF',
 36: 'CME S&P Complete Indices',
 37: 'Russell Tick Indices',
 38: 'CSMI Indices Exchange',
 39: 'CME S&P Base Indices',
 40: 'Dow Jones Indexes',
 20: 'Currency Banks 1',
 44: 'Currency Banks 2',
 60: 'Currency Banks 3'}

### TRADES END POINT

In [12]:
trades_df = pd.DataFrame([
  {
   "t": 1517562000016036600,
   "y": 1517562000015577000,
   "q": 1063,
   "i": "1",
   "x": 11,
   "s": 100,
   "c": [
    12,
    41
   ],
   "p": 171.55,
   "z": 3
  },
  {
   "t": 1517562000016038100,
   "y": 1517562000015577600,
   "q": 1064,
   "i": "2",
   "x": 11,
   "s": 100,
   "c": [
    12,
    41
   ],
   "p": 171.55,
   "z": 3
  }
 ])

trade_map = { "I": "orig_id"
  ,
  "x":"exchange",

  "p":"price",
  
  
  "i":"id",
   
  "e":"correction",

  "r":"trf_id",

  "t":"sip_timestamp",

  "y":"participant_timestamp",

  "f":"trf_timestamp",

  "q":"sequence_number",

  "c":"conditions",

  "s":"size",

  "z":"tape"
 }

In [13]:
new_trades_df = pd.DataFrame(trades_df).rename(columns=trade_map)

In [14]:
#replace exchange numbers with vals
new_trades_df.replace({'exchange':exchange_list_dict}).head()

,conditions,id,price,sequence_number,size,sip_timestamp,exchange,participant_timestamp,tape
0,"[12, 41]",1,171.55,1063,100,1517562000016036600,NYSE Arca,1517562000015577000,3
1,"[12, 41]",2,171.55,1064,100,1517562000016038100,NYSE Arca,1517562000015577600,3