In [43]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

import sys
sys.path.append("../")
import os
import concurrent.futures
from queue import Queue # Python 3.x

import re
import datetime
import pandas as pd
import pandas_market_calendars as mcal
from polygon import RESTClient
#from tqdm.notebook import tqdm
import logging
import threading
import time
import pytz
eastern = 'US/Eastern'

In [44]:
que = Queue()

In [4]:
key = "qRFktbNL6A_WzaFhqR80IllApsmjPY6a"

def ts_to_datetime(ts) -> str:
    return datetime.datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d %H:%M')

def get_split_data_for_stock(stock):
    with RESTClient(key) as client:
        try:
            respex = client.reference_stock_splits(str(stock).upper())
            result = respex.__dict__['results']
            return result
        except:
            print("Error getting split data for "+ str(stock))
            return []

def get_dividend_data_for_stock(stock):
    with RESTClient(key) as client:
        try:
            respex = client.reference_stock_dividends(str(stock).upper())
            result = respex.__dict__['results']
            return result
        except:
            print("Error getting dividend data for "+ str(stock))
            return []
        
def extract_qualified_symbols(df, plvl, advlvl):
    qualified = df[(df.p_lvl == plvl) & (df.adv_lvl == advlvl)]
    return qualified

In [46]:
def threaded(func):
    """
    Decorator that multithreads the target function
    with the given parameters. Returns the thread
    created for the function
    """
    def wrapper(*args, **kwargs):
        thread = Thread(target=func, args=args)
        thread.start()
        return thread
    return wrapper

In [47]:
@threaded
def download_data(q_sym_list, result):
    splits_df = []
    dividend_df  = []
    for i in tqdm(range(len(q_sym_list))):
    
        ticker = q_sym_list[i]

        sp = get_split_data_for_stock(ticker)
        div = get_dividend_data_for_stock(ticker)
        a = pd.DataFrame(sp)
        b = pd.DataFrame(div)

        splits_df.append(a)

        dividend_df.append(b)

        time.sleep(0.1)
    result.append([pd.concat(splits_df), pd.concat(dividend_df)])
    return [pd.concat(splits_df), pd.concat(dividend_df)]

In [48]:
main_df = pd.read_csv('stocks-profile.csv')

In [49]:
q_sym_list = []
for i in range(5):
    q_sym = extract_qualified_symbols(main_df, i, 2)
    q_sym_list.append(list(q_sym['symbol']))

In [50]:
format = "%(asctime)s: %(message)s"
logging.basicConfig(format=format, level=logging.INFO,
                    datefmt="%H:%M:%S")

In [51]:
format = "%(asctime)s: %(message)s"
logging.basicConfig(format=format, level=logging.INFO,
                    datefmt="%H:%M:%S")

threads = []
results = []
for i in range(len(q_sym_list)):
    threads.append(download_data(q_sym_list[i], results))


# wait for all threads to finish before moving on
for thread in threads:
    thread.join()

format = "%(asctime)s: %(message)s"
logging.basicConfig(format=format, level=logging.INFO,
                        datefmt="%H:%M:%S")

Exception in thread Thread-28:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-46-13a1fbb2a299>", line 8, in <lambda>
    thread = threading.Thread(target=lambda func, arg1: func.put(foo(arg1)), args=args)
AttributeError: 'list' object has no attribute 'put'

Exception in thread Thread-29:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-46-13a1fbb2a299>", line 8, in <lambda>
    thread = threading.Thread(target=lambda func, arg1: func.put(foo(arg1)), args=args)
AttributeError: 'list' object has no attribute 'put'

Exception in thread Thread-30:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-46-13a1fbb2a299>", line 8, in <lambda>
    thread = threading.Thread(target=lambda func, arg1: func.put(foo(arg1)), args=args)
AttributeError: 'list' object has no attribute 'put'

Exception in thread Thread-31:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-46-13a1fbb2a299>", line 8, in <lambda>
    thread = threading.Thread(target=lambda func, arg1: func.put(foo(arg1)), args=args)
AttributeError: 'list' object has no attribute 'put'

Exception in thread Thread-32:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-46-13a1fbb2a299>", line 8, in <lambda>
    thread = threading.Thread(target=lambda func, arg1: func.put(foo(arg1)), args=args)
AttributeError: 'list' object has no attribute 'put'

In [41]:
pd.concat(results[2])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,amount,declaredDate,exDate,forfactor,paymentDate,ratio,recordDate,ticker,tofactor
0,NaN,2016-11-09,2016-11-09,1.0,2016-11-09,3.000000,NaN,GNUS,3.0
0,NaN,NaN,2000-04-11,NaN,2000-04-11,0.250000,NaN,NOK,NaN
1,NaN,NaN,1999-04-12,NaN,1999-04-12,0.500000,NaN,NOK,NaN
2,NaN,NaN,1998-04-16,NaN,1998-04-16,0.500000,NaN,NOK,NaN
0,NaN,2020-08-10,2020-08-10,1.0,2020-08-10,25.000000,NaN,TOPS,25.0
1,NaN,2019-08-22,2019-08-22,1.0,2019-08-22,20.000000,NaN,TOPS,20.0
2,NaN,2018-03-26,2018-03-26,1.0,2018-03-26,10.000000,NaN,TOPS,10.0
3,NaN,2017-10-06,2017-10-06,1.0,2017-10-06,2.000000,NaN,TOPS,2.0
4,NaN,2017-08-03,2017-08-03,1.0,2017-08-03,30.000000,NaN,TOPS,30.0
5,NaN,2017-06-23,2017-06-23,1.0,2017-06-23,15.000000,NaN,TOPS,15.0
6,NaN,2017-05-11,2017-05-11,1.0,2017-05-11,20.000000,NaN,TOPS,20.0
7,NaN,2016-02-22,2016-02-22,1.0,2016-02-22,10.000000,NaN,TOPS,10.0
8,NaN,2014-04-21,2014-04-21,1.0,2014-04-21,7.000000,NaN,TOPS,7.0
9,NaN,NaN,2011-06-24,NaN,2011-06-24,10.000000,NaN,TOPS,NaN
10,NaN,NaN,2008-03-20,NaN,2008-03-20,3.000030,NaN,TOPS,NaN
0,NaN,2018-06-11,2018-06-11,1.0,2018-06-11,10.000000,NaN,IBIO,10.0
0,NaN,2019-06-07,2019-06-07,1.0,2019-06-07,70.000000,NaN,JAGX,70.0
1,NaN,2018-06-01,2018-06-01,1.0,2018-06-01,5.000000,NaN,JAGX,5.0
0,NaN,2019-12-20,2019-12-20,1.0,2019-12-20,100.000000,NaN,NAKD,100.0
1,NaN,2015-08-10,2015-08-10,1.0,2015-08-10,40.000000,NaN,NAKD,40.0
0,NaN,2020-06-11,2020-06-11,1.0,2020-06-11,3.000000,NaN,XSPA,3.0
1,NaN,2019-02-25,2019-02-25,1.0,2019-02-25,20.000000,NaN,XSPA,20.0
0,NaN,2019-11-01,2019-11-01,1.0,2019-11-01,10.000000,NaN,TNXP,10.0
1,NaN,2018-11-28,2018-11-28,1.0,2018-11-28,10.000000,NaN,TNXP,10.0
2,NaN,2017-03-17,2017-03-17,1.0,2017-03-17,10.000000,NaN,TNXP,10.0
3,NaN,NaN,2013-05-03,NaN,2013-05-03,20.000000,NaN,TNXP,NaN
0,NaN,NaN,2006-03-30,NaN,2006-03-30,0.500000,NaN,VBIV,NaN
0,NaN,NaN,2007-11-26,NaN,2007-11-26,1.429388,NaN,RIG,NaN
0,NaN,2015-10-15,2015-10-15,1.0,2015-10-15,10.000000,NaN,ACST,10.0
1,NaN,2015-10-14,2015-10-14,1.0,2015-10-14,10.000000,NaN,ACST,10.0
...,...,...,...,...,...,...,...,...,...
16,0.151,2014-01-03,2013-12-12,NaN,2013-12-27,NaN,2013-12-16,CIG,NaN
0,0.019,NaN,2021-03-12,NaN,2021-04-01,NaN,2021-03-15,GGB,NaN
1,0.027,NaN,2020-12-22,NaN,2020-12-22,NaN,2020-12-23,GGB,NaN
2,0.020,NaN,2020-11-09,NaN,2020-11-25,NaN,2020-11-10,GGB,NaN
3,0.021,NaN,2020-11-09,NaN,2020-11-25,NaN,2020-11-10,GGB,NaN
4,0.006,NaN,2020-03-02,NaN,2020-03-18,NaN,2020-03-03,GGB,NaN
5,0.005,NaN,2020-03-02,NaN,2020-03-18,NaN,2020-03-03,GGB,NaN
6,0.008,NaN,2019-11-12,NaN,2019-12-02,NaN,2019-11-13,GGB,NaN
7,0.016,NaN,2019-08-19,NaN,2019-09-05,NaN,2019-08-20,GGB,NaN
8,0.017,NaN,2019-05-21,NaN,2019-06-05,NaN,2019-05-22,GGB,NaN
9,0.026,NaN,2019-03-08,NaN,2019-03-25,NaN,2019-03-11,GGB,NaN
10,0.031,NaN,2018-11-23,NaN,2018-12-10,NaN,2018-11-26,GGB,NaN
11,0.021,2018-09-04,2018-08-23,NaN,2018-09-10,NaN,2018-08-24,GGB,NaN
12,0.013,NaN,2018-05-23,NaN,2018-06-08,NaN,2018-05-24,GGB,NaN
13,0.007,NaN,2018-03-09,NaN,2018-03-28,NaN,2018-03-12,GGB,NaN
14,0.007,2017-11-08,2017-11-22,NaN,2017-12-08,NaN,2017-11-24,GGB,NaN
15,0.005,2017-08-09,2017-08-22,NaN,2017-09-11,NaN,2017-08-24,GGB,NaN
16,0.005,2016-12-20,2016-11-22,NaN,2016-12-08,NaN,2016-11-25,GGB,NaN
17,0.007,2016-10-05,2016-08-23,NaN,2016-09-12,NaN,2016-08-25,GGB,NaN
18,0.008,2015-11-30,2015-11-10,NaN,2015-11-27,NaN,2015-11-13,GGB,NaN
19,0.009,2015-09-23,2015-08-25,NaN,2015-09-14,NaN,2015-08-27,GGB,NaN
20,0.019,2015-06-19,2015-03-17,NaN,2015-04-02,NaN,2015-03-19,GGB,NaN
21,0.024,2015-01-09,2014-08-12,NaN,2014-08-28,NaN,2014-08-14,GGB,NaN
22,0.028,2014-06-17,2014-03-06,NaN,2014-03-24,NaN,2014-03-10,GGB,NaN
23,0.019,2013-12-26,2013-08-13,NaN,2013-08-28,NaN,2013-08-15,GGB,NaN
0,0.304,2016-08-15,2016-07-13,NaN,2016-08-25,NaN,2016-07-15,BRFS,NaN
1,0.030,2016-04-01,2016-03-11,NaN,2016-04-11,NaN,2016-03-15,BRFS,NaN
2,0.110,2016-02-12,2015-12-30,NaN,2016-02-23,NaN,2016-01-04,BRFS,NaN
3,0.107,2015-08-17,2015-06-30,NaN,2015-08-24,NaN,2015-07-03,BRFS,NaN
4,0.026,2013-05-02,2013-04-22,NaN,2013-05-10,NaN,2013-04-24,BRFS,NaN